.mutiupload_list div {
    margin: 5px;
    padding: 5px;
    height: auto;
    /*width: auto;*/
    float: left;
    text-align: left;
    display: inline;
}

.allowed_types{
	margin-left:15px;
}
.allowed_types:before {
    content: "Allowed file types (";
}
.allowed_types:after {
    content: ")";
}
